<p> Welcome Page </p>
<nav>
<ul>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Equipment', equipments_path %></li>
<li><%= link_to 'Hospitals', hospitals_path %></li>
<li><%= link_to 'SignIn', new_user_session_path %></li>

<li><%= link_to 'SignUp', new_user_registration_path %></li>
<li><%= link_to 'Add', new_equipment_path %></li>
</ul>
</nav>
