<h1> All the hospital:</h1>
<div>
<%= link_to "Add an hospital", new_hospital_path %>  
</div>
<table>
  <thead>
    <tr>
        <th>Hospital Name:</th>
        <th>Equipment Name:</th>
        <th>quantitity:</th>
        <th>phone:</th>
    </tr>
  </thead> 
  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
            <td><%= hospital.hospital_name%></td>
            <td><%= hospital.equipment_name %></td>
            <td><%= hospital.quantitity%></td>
            <td><%= hospital.phone %></td>
            <td><a data-confirm="Are you sure you want to delete <%= hospital.hospital_name %>?" data-method="delete" href="/hospitals/<%= hospital.id %>" rel="nofollow"><i>Delete Hospital</i>
            </td>
      </tr>
    <% end %>
 </tbody>
</table>



