<h1>Edit <%= @equipment.name %></h1>
<%= form_for @equipment do |f| %>

    <div>
    <%= f.label :name, 'name'%>
    <%= f.text_field :name%>
    </div>

    <div>
    <%= f.label :description, 'description'%>
    <%= f.text_field :description %>
    </div>

    <div>
    <%= f.label :time_of_use, 'time_of_use' %>
    <%= f.text_field :time_of_use %>
    </div>

    <div>
    <%= f.label :phone, 'phone' %>
    <%= f.text_field :phone %>
    </div>

    <%= f.submit "Submit"%>
<% end %>