<h1 class="mt-4 mb-4 text-center">All the Equipment</h1>
<div class="col-md-12 text-center">
  
</div>
<table class="table table-striped table-dark table-borderless table-hover text-center">
  <thead class="thead-dark">
  <tr>
    <th>Name:</th>
    <th>Time_of_Use:</th>
    <th>Albums</th>
    <th>Hometown</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody>
  <% @equipments.each do |equipment| %>
      <tr>
        <td><%= link_to equipment.name, equipment_path(equipment) %></td>
       
        <td><%= equipment.time_of_use %></td>
        <td><%= equipment.phone %></td>
        <td><a class="btn btn-danger rounded-pill" href="<%= edit_equipment_path(equipment) %>" >
           <em class="">Edit Artist</em>
          </a>
        </td>
         <td><a class="btn btn-danger rounded-pill" data-confirm="Are you sure you want to delete <%= equipment.name %>?" data-method="delete" href="/equipments/<%= equipment.id %>" rel="nofollow"><i class="large material-icons">Delete Artist</i>
         </a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>