<h1> All the Equipment</h1>
<%= link_to "Add Equipment", new_equipment_path %> 
 <% @equipments.each do |equipment| %>


<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Equipment Name</h5>
    
    <p class="card-text" ><%= link_to equipment.name, equipment_path(equipment) %></p>
           <%if user_signed_in? %>  
              
            <p><a href="<%= edit_equipment_path(equipment) %>" >
                 <em class="">Edit Equipment</em>
                 </a>
              </p>
              <p><a data-confirm="Are you sure you want to delete <%= equipment.name %>?" data-method="delete" href="/equipments/<%= equipment.id %>"rel="nofollow"><i>Delete Equipment</i>
                  </a>
              </p>
        </tr>
        <% end %>
           

  </div>
   <% end %>

