<h1> All the Equipment</h1>
<div>
<%= link_to "Add Equipment", new_equipment_path %> 
<table>
  <thead>
    <tr>
      <th>Equipment Name</th>  
      </tr>

  </thead>
 <tbody>
    <% @equipments.each do |equipment| %>
        <tr>
          <td><%= link_to equipment.name, equipment_path(equipment) %></td>
          <%if user_signed_in? %>  
              
              <td><a href="<%= edit_equipment_path(equipment) %>" >
                 <em class="">Edit Equipment</em>
                 </a>
              </td>
              <td><a data-confirm="Are you sure you want to delete <%= equipment.name %>?" data-method="delete" href="/equipments/<%= equipment.id %>"rel="nofollow"><i>Delete Equipment</i>
                  </a>
              </td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>