<%= form_for :equipment  do |f| %>

    <div class="input-field col s6">
    <%= f.label :name, 'name'%>
    <%= f.text_field :name%>
    </div>

    <div class="input-field col s6">
    <%= f.label :description, 'description'%>
    <%= f.text_field :description %>
    </div>

    <div class="input-field col s6">
    <%= f.label :time_of_use, 'time_of_use' %>
    <%= f.text_field :time_of_use %>
    </div>

    <div class="input-field col s6">
    <%= f.label :phone, 'phone' %>
    <%= f.text_field :phone %>
    </div>
    <%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
<% end %>





  