<h4> Add New Device</h4>
<%= form_for :equipment  do |f| %>
   <div class="centered-new">   
   <div class="card" style="width: 18rem;">
    
        <div>
        <%= f.label :name, 'Name'%>
        <%= f.text_field :name%>
        </div>

        <div>
        <%= f.label :description, 'Description'%>
        <%= f.text_field :description %>
        </div>

        <div>
        <%= f.label :time_of_use, 'Time Of Use' %>
        <%= f.text_field :time_of_use %>
        </div>

        <div>
        <%= f.label :phone, 'Phone' %>
        <%= f.text_field :phone %>
        </div>
        <%= f.submit "Submit"%>

    </div>
    </div>
    
<% end %>





  