<h2> Show Equipment </h2>
<%= link_to "Add Another Equipment", new_equipment_path %> 
<%= link_to 'Equipment', equipments_path %>
<div>
 Name: <%= @equipment.name %>
</div>
<div>
Time_Of_Use: <%= @equipment.time_of_use %>
</div>
<div>
Description : <%= @equipment.description %>
</div>
<div>
Phone : <%= @equipment.phone %>
</div>
